<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandaliya.vaccinationguideapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaccinationGuideApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".manufact_black_quarter"></activity>
        <activity android:name=".manufact_hs" />
        <activity android:name=".manufact_fmd" />
        <activity android:name=".manufact" />
        <activity android:name=".gi_cause_fail" />
        <activity android:name=".gi_imp_vaccination" />
        <activity android:name=".gi_advantages_vaccine" />
        <activity android:name=".gi_types_vaccine" />
        <activity android:name=".gi_vaccine" />
        <activity android:name=".vaccines_horses_tetanus" />
        <activity android:name=".vaccines_horses_equine_influenza" />
        <activity android:name=".vaccines_horses_equine" />
        <activity android:name=".vaccines_horses_Rabies" />
        <activity android:name=".vaccines_poultry_eggDropSyndrome" />
        <activity android:name=".vaccines_poultry_IB" />
        <activity android:name=".vaccines_poultry_fowl" />
        <activity android:name=".vaccines_poultry_mareks" />
        <activity android:name=".vaccines_poultry_IBD" />
        <activity android:name=".vaccines_poultry_newcastle" />
        <activity android:name=".vaccines_sg_anthrax" />
        <activity android:name=".vaccines_sg_haemo" />
        <activity android:name=".vaccines_sg_fm" />
        <activity android:name=".vaccines_sg_goatPox" />
        <activity android:name=".vaccines_sg_sheepPox" />
        <activity android:name=".vaccines_sg_peste" />
        <activity android:name=".vaccines_pig_pci" />
        <activity android:name=".vaccines_pig_csf" />
        <activity android:name=".vaccines_pig_fm" />
        <activity android:name=".vaccine_camel_anthrax" />
        <activity android:name=".vaccines_camel_rabies" />
        <activity android:name=".vaccines_cb_rabies" />
        <activity android:name=".vaccines_cb_anthrax" />
        <activity android:name=".vaccines_cb_bruce" />
        <activity android:name=".vaccines_cb_bq" />
        <activity android:name=".vaccines_cb_hemor" />
        <activity android:name=".vaccines_cb_fm" />
        <activity android:name=".vaccines_pigs" />
        <activity android:name=".vaccines_camel" />
        <activity android:name=".vaccines_poultry" />
        <activity android:name=".vaccines_horses" />
        <activity android:name=".vaccines_sheep_got" />
        <activity android:name=".Vaccines_cb" />
        <activity android:name=".VaccineChart" />
        <activity android:name=".Manufactures" />
        <activity android:name=".Vaccines" />
        <activity android:name=".generalInfo" />
        <activity android:name=".About" />
        <activity
            android:name=".MainActivity2"
            android:label="second Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>